---
---
{% include indexHeader.html url="https://www.maxwellcrafter.com/tech/storage/" %}
<br>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest> DVD RAM
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest> Iomega Zip drive
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest> Sony PR-150
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest> Videodisc
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest> LaserDisc
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest> Orb Disk
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest> 3.5" floppy disk
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest> CompactFlash
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest>
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest>
</a>
<br>
<a class="dir" id="clickable" href=>
C:\Users\Guest>
</a>
{% include indexFooter.html %}
