---
---
{% include indexHeader.html %}
<br>
<br>
<a class="dir" style="text-shadow: 0 0 3px #5865F2;" href=https://htstem.net aria-label="HTSTEM">
C:\Users\Guest> HTwins STEM+
</a>
<br>
<a class="dir" style="text-shadow: 0 0 3px #797979;" href=https://wiki.foone.org aria-label="Foone Turing">
C:\Users\Guest> Foone Turing
</a>
<br>
<a class="dir" style="text-shadow: 0 0 3px #FFE6F7;" href=https://qixils.dev aria-label="qixils.dev">
C:\Users\Guest> qixils.dev
</a>
<br>
<a class="dir" style="text-shadow: 0 0 3px greenyellow;" href=https://bad-radio.solutions aria-label="Bad Radio Solutions">
C:\Users\Guest> Bad Radio Solutions
</a>
<br>

{% include indexFooter.html %}
