---
---
{% include itemHeader.html title="Targus Stowaway PA800U" date="2020/05/25" %}
<a>
<img src="main.jpg" alt="Targus Stowaway" width="100%">
</a>
<br>
<a>
The Targus Stowaway PA800U is a portable fold up keyboard designed to work with the Handspring Visor PDA.
</a>
<br>
<a>
<img src="side.jpg" alt="Targus Stowaway" width="100%">
</a>
<br>
<a>
<img src="open.jpg" alt="Targus Stowaway" width="100%">
</a>
<br>
<a>
<img src="certification.jpg" alt="Targus Stowaway" width="100%">
</a>
{% include itemFooter.html %}
