---
---
{% include itemHeader.html title="Sony Watchman" date="2020/03/17" %}
<a href="main.jpg">
<img src="main.jpg" alt="Sony Watchman FD-10A" width="100%">
</a>
<br>
<a>
This is the Sony FD-10A, more commonly called the Sony Pocket Watchman, which is a small handheld analog television from the Sony Watchman series. The FD-10A was made for 2 years in 1986 and 1987, with this exact one being manufactured in August of 1986. The Watchman series was introduced in 1982, and ended in 2000
</a>
{% include itemFooter.html %}
