<!DOCTYPE html>
<html lang="en">
<head>
<title>
Maxwell Fisher technology 💾
</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="height=device-height">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Infosec & misc tech stuff">
<meta name="keywords" content="Maxwell Fisher, Maxwellcrafter, Max Fisher, Maxwell Fisher tech, Max fisher tech, Maxwellcrafter tech">
<link rel="stylesheet" href="/index.css">
</head>

<body>
<div class="text" id=javascript-enabled>
<a class="dir" aria-hidden="true">
Maxwellcrafter [Version <script>document.write(new Date().getFullYear())</script>.<script>document.write(new Date().getMonth() + 1)</script>.<script>document.write(new Date().getDate())</script>]
</a>
<br>
<a class="dir" aria-hidden="true">
&copy; <script>document.write(new Date().getFullYear())</script> Maxwell Fisher. All rights reserved.
</a>
