<head>
<title>
Maxwell Fisher technology 💾
</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="height=device-height">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Computers and other tech stuff">
<meta name="keywords" content="Maxwell Fisher, Maxwellcrafter, Max Fisher, Maxwell Fisher tech, Max fisher tech, Maxwellcrafter tech, Sony Watchman">
<link rel="stylesheet" href="/menu.css">
</head>
