<!DOCTYPE html>
<html lang="en">
<head>
<title>
{{ include.title }}
</title>
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="height=device-height">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Computers and other tech stuff">
<meta name="keywords" content="Maxwell Fisher, Maxwellcrafter, maxwell fisher boise, maxwell fisher tech, calculator">
<link rel="stylesheet" href="https://maxwellcrafter.com/menu.css">
</head>
<body>
<center>
<div id=javascript-enabled>
<h1>
{{ include.title }}
</h1>
<h3>
Maxwell Fisher - {{ include.date }}
</h3>
<br>
