---
---
{% include indexHeader.html %}
<br>
<br>
<a class="dir" id="clickable" href=phones aria-label="Phones">
C:\Users\Guest> Phones
</a>
<br>
<a class="dir" id="clickable" href=calculators aria-label="Calculators">
C:\Users\Guest> Calculators
</a>
<br>
<a class="dir" id="clickable" href=radios aria-label="Radios">
C:\Users\Guest> Radios
</a>
<br>
<a class="dir" id="clickable" href=sony-watchman aria-label="Sony Watchman portable TV">
C:\Users\Guest> Sony Watchman portable TV<SUP></SUP>
</a>
<br>
<a class="dir" id="clickable" href=olympia-sm4 aria-label="Olympia SM4 typewriter">
C:\Users\Guest> Olympia SM4 typewriter
</a>
<br>
<a class="dir" id="clickable" href=sony-discman aria-label="Sony Discman CD player">
C:\Users\Guest> Sony Discman CD player
</a>
<br>
<a class="dir" id="clickable" href=panasonic-shockwave aria-label="Panasonic Shockwave CD player">
C:\Users\Guest> Panasonic Shockwave CD player
</a>
<br>
<a class="dir" id="clickable" href=targus-stowaway aria-label="Targus Stowaway fold up keyboard">
C:\Users\Guest> Targus Stowaway fold up keyboard
</a>
<br>
<a class="dir" id="clickable" href=wm-1055 aria-label="Franklin Computer Wordmaster">
C:\Users\Guest> Franklin Computer Wordmaster
</a>
{% include indexFooter.html %}
