---
---
{% include indexHeader.html url="https://www.maxwellcrafter.com/" %}
<br>
<br>
<a class="dir" id="clickable" href=https://github.com/Maxwell-Fisher aria-label="GitHub">
C:\Users\Guest> GitHub (For projects like this)
</a>
<br>
<a class="dir" id="clickable" href=https://www.linkedin.com/in/maxwellcrafter aria-label="LinkedIN">
C:\Users\Guest> LinkedIn (Hire me or something)
</a>
<br>
<a class="dir" id="clickable" href=https://instagram.com/maxwellcrafter aria-label="Instagram">
C:\Users\Guest> Instagram (I take photos too)
</a>
<br>
<a class="dir" id="clickable" href=http://infosec.exchange/@Maxwellcrafter aria-label="Mastodon">
C:\Users\Guest> Mastodon (Come harass me)
</a>
<br>
<a class="dir" id="clickable" href=https://youtube.com/Maxwellcrafter aria-label="YouTube">
C:\Users\Guest> YouTube (Even more projects)
</a>

{% include indexFooter.html %}
